<ion-content>
    <div class="container">
        <div id='card' class="card day">
          <div id='temp' class="text">{{ currentTemperature }}</div>
          <div id='cloudy' class="cloudy">
            <div class="cloud">
            <div class="sol">
            </div>
          </div>
          </div>
          <div id='clear' class="clear">
            <div class="sol"></div>
          </div>
          <div id='rainy' class="rainy">
            <div class="cloud">
              <div class="rain"></div>
              <div class="rain"></div>
              <div class="rain"></div>
              <div class="rain"></div>
            </div>
          </div>
          <div id='storm' class="storm">
            <div class="cloud">
              <div class="rain"></div>
              <div class="rain"></div>
              <div class="rain"></div>
              <div class="rain"></div>
            </div>
          </div>
          <div id="haze" class="haze">
            <div class="cloud"></div>
          </div>
        </div>
        <div id='city' class="city">City, Country</div>
      </div>
</ion-content>
